.list {
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table,
.tableHead,
.tableBody {
  display: none;
}

.text {
  padding: 20px;
  color: #fff;
}

.scrollTopBtn {
  position: fixed;
  bottom: 70px;
  right: 18px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 20px;
  display: none;
  cursor: pointer;
  z-index: 100;
}

.scrollTopBtn.visible {
  display: block;
  opacity: 1;
}

.UpBtm {
  width: 40px;
  height: 40px;
}

.UpBtm:hover {
  color: #b7b2b2;
}

@media screen and (min-width: 768px) {
  .list {
    display: none;
  }

  .tableHead,
  .tableBody {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  .tableWrapper {
    min-width: 704px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .scrollBody {
    max-height: 500px;
    overflow-y: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
  }

  .scrollBody::-webkit-scrollbar {
    width: 6px;
  }

  .scrollBody::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollBody::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }

  .thead {
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    background: rgba(82, 59, 126, 0.6);
  }

  .thead th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .thead th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .thead th {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .th {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: var(--white);
  }
}

@media screen and (min-width: 1280px) {
  .tableWrapper {
    max-width: 715px;
    margin-top: 46px;
  }

  .tableHead,
  .tableBody {
    max-width: 715px;
  }
}

@media screen and (min-width: 1440px) {
  .tableWrapper,
  .tableHead,
  .tableBody {
    max-width: 780px;
  }
}
