.list {
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  display: none;
}

.text {
  padding: 20px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .list {
    display: none;
  }

  .table {
    display: table;
    min-width: 704px;
    margin-top: 20px;
    border-collapse: collapse;
  }

  .thead {
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    background: rgba(82, 59, 126, 0.6);
  }

  .thead th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .thead th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .thead th {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .th {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: var(--white);
  }
}

@media screen and (min-width: 1280px) {
  .table {
    max-width: 715px;
    margin: 0 auto;
    margin-top: 46px;
  }
}
