.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 20px;
}

.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  padding: 6px 12px;
  background: linear-gradient(
    360deg,
    rgba(83, 61, 186, 0.7) 0%,
    rgba(80, 48, 154, 0.7) 35.94%,
    rgba(106, 70, 165, 0.7) 61.04%,
    rgba(133, 93, 175, 0.7) 100%
  );
  border-radius: 4px;
  transition: background-color 0.2s;
}

.btn:hover:not(:disabled) {
  background-color: var(--white-600);
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.active {
  font-weight: 700;
  background: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );
}

.pageNumbers {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .pageNumbers {
    display: none;
  }
}
