.toggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
  margin-bottom: 60px;
}

.label {
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--white-600);
  cursor: pointer;
  transition: color 0.2s ease;
}

.separator {
  font-size: 18px;
  font-weight: 600;
  color: var(--white-400);
}

.income {
  color: var(--yellow);
}

.expense {
  color: #ff6596;
}

@media screen and (min-width: 768px) {
  .toggleContainer {
    margin-top: 40px;
  }
}
