.toggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.label {
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: color 0.2s ease;
}

.separator {
  font-size: 18px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.4);
}

.income {
  color: #ffb627;
}

.expense {
  color: #ff6596;
}
