.chart {
  width: 100%;
  grid-row: span 2 / span 2;
}

.title {
  text-align: left;
  margin-bottom: 8px;
  font-size: 30px;
}

.chartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.value {
  animation: fadeInText 0.4s ease forwards;
  opacity: 0;
  transform: translateY(8px);
}

@keyframes fadeInText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pointer {
  cursor: pointer;
}

.defaultCursor {
  cursor: default;
}

@media only screen and (min-width: 768px) {
  .chartWrapper {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .chart {
    max-width: max-content;
    width: 288px;
  }
}
