.table {
  border-radius: 20px;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.listHeader div {
  display: flex;
  justify-content: space-between;
  background: rgba(82, 59, 126, 0.6);
  padding: 16px;
  border-radius: 8px;
}

.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.082);
  padding: 13px;
}

.color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.name {
  margin-left: 8px;
  color: #fff;
}

.sum {
  font-weight: 700;
  color: #fff;
}

.totalBlock {
  margin-top: 20px;
}

.expenses,
.income {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  color: #fff;
  font-weight: 700;
}

.expenses span {
  color: #ff6596;
}

.income span {
  color: #24cca7;
}
