input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-password-reveal-button {
  display: none;
}
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}
.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('/src/img/mobile/mobile-Gradient.png');
  }
  
  @media only screen and (min-resolution: 192dpi) {
    .backdrop {
      background-image: url('/src/img/mobile/mobile-Gradient@2x.png');
    }
  }
  
  @media screen and (min-width: 768px) {
    .backdrop {
      background-color: #101010;
      background-image: url('/src/img/tablet/tablet-Gradient1.png');
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi) {
    .backdrop {
      background-image: url('/src/img/tablet/tablet-Gradient1@2x.png');
    }
  }
  
  @media screen and (min-width: 1280px) {
    .backdrop {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('/src/img/desktop/desktop-Gradient1.png');
    }
  }
  
  @media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
    .backdrop {
      background-image: url('/src/img/desktop/desktop-Gradient1@2x.png');
    }
  }
  
  /* logo */
  
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fbfbfb;
    margin: 0;
  
    img {
      width: 26px;
      height: 26px;
    }
  }
  
  .textLogo {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
  }
  
  @media screen and (min-width: 768px) {
    .logo {
      font-size: 26px;
  
      img {
        width: 36px;
        height: 36px;
      }
      .textLogo {
        font-size: 26px;
      }
    }
  }
  
  @media screen and (min-width: 768px) {
    .headerLogo {
      font-size: 17px;
  
      img {
        width: 25px;
        height: 23px;
      }
    }
  }
  
  /* modal */
  
  .modal {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 100%;
    padding: 98px 20px;
  }
  
  @media screen and (min-width: 768px) {
    .modal {
      position: relative;
      border-radius: 8px;
      box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.35);
      width: 533px;
      height: 570px;
      padding: 80px 62px;
      background: rgba(255, 255, 255, 0.1);
      background-position: -60px -60px;
      background-size: 125% 125%;
      background-repeat: no-repeat;
      backdrop-filter: blur(100px);
      background-image: url('/src/img/desktop/login-modal-desk@1x.png'),
        url('/src/img/desktop/desktop-Ellipse.png');
    }
  }
  
  @media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .modal {
      background-image: url('/src/img/desktop/login-modal-desk@2x.png'),
        url('/src/img/desktop/desktop-Ellipse@2x.png');
    }
  }
  
  /* form login */
  
  .inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    margin: 52px 0;
  }
  
  .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .inputGroup {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .inputWrapper {
    position: relative;
    width: 100%;
  }
  
  .input {
    font-family: 'Poppins', sans-serif;
    display: flex;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    width: 280px;
    height: 35px;
    padding-left: 50px;
    color: rgba(255, 255, 255, 0.6);
  }
  
  @media screen and (min-width: 768px) {
    .input {
      width: 409px;
    }
  }
  
  .inputIcon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    color: rgba(255, 255, 255, 0.6);
    pointer-events: none;
  }
  
  .inputIconLast {
    top: 35%;
  }
  
  .error {
    position: absolute;
    top: 40px;
    left: 50px;
    font-size: 12px;
    color: #ffb627;
    white-space: nowrap;
    pointer-events: none;
  }
  
  .progressBarComponent {
    width: auto;
  }
  
  
  
  /* btn */
  
  .logButton {
    width: 280px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.1em;
  }
  
  .multiColorButton {
    color: rgba(251, 251, 251, 1);
    background-image: none;
    background: linear-gradient(
      96.76deg,
      #ffc727 -16.42%,
      #9e40ba 97.04%,
      #7000ff 150.71%
    );
  }
  
  .multiColorButton:hover,
  .multiColorButton:focus {
    background-size: 200%;
    background-position: right center;
  }
  
  .multiColorButton:active {
    font-size: 19px;
  }
  
  .whiteButton {
    color: #623f8b;
    background: #fcfcfc;
  }
  
  .whiteButton:hover,
  .whiteButton:focus {
    background-size: 200%;
    background-position: right center;
  }
  
  .whiteButton:active {
    font-size: 19px;
  }
  
  @media screen and (min-width: 768px) {
    .formButton {
      width: 300px;
    }
  }
  