.select {
  flex: 1;
}

.filter {
  width: 200px;
}

.sort {
  display: block;
  max-width: 280px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  stroke: #fff;
  margin-right: 12px;
}

@media (min-width: 768px) {
  .sort {
    display: none;
  }
}
