.section {
  display: flex;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
}

.container {
  background: rgba(82, 59, 126, 0.6);
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 100%;
  padding: 8px 32px;
  text-align: left;
}

.title,
.sum,
.text {
  font-family: var(--font-family);
  color: var(--white);
}

.title {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--white-400);
  margin-bottom: 12px;
}

.sum,
.text {
  font-size: 30px;
  font-weight: 700;
}

.text {
  font-weight: 400;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .section {
    width: 336px;
  }
  .container {
    width: 100%;
    padding-bottom: 12px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    width: 480px;
  }
  .container {
    padding-left: 56px;
    border-radius: 0;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    width: 540px;
  }
}
