.rotate-180 {
  transition: 0.3s ease;

  transform: rotate(180deg);
}

.rotate-0 {
  transition: 0.3s ease;

  transform: rotate(0deg);
}

.icon {
  transition: 0.3s ease;
}

.icon:hover,
.icon:focus {
  transform: translateY(-3px);
}

.arrow {
  padding-right: 10px;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: linear-gradient(
    360deg,
    rgba(83, 61, 186, 0.7) 0%,
    rgba(80, 48, 154, 0.7) 35.94%,
    rgba(106, 70, 165, 0.7) 61.04%,
    rgba(133, 93, 175, 0.7) 100%
  );
  border-radius: 16px;
  margin-top: 8px;
  padding: 8px 0;
  z-index: 10;
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  max-height: 260px;
  overflow-y: auto;
  backdrop-filter: blur(100px);
}

.options::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.errorText {
  width: 300px;
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translate(-50%);
  color: var(--dashboard-text);
  font-weight: 500;
  font-size: small;
  animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.selected {
  font-size: 18px;
  padding-left: 10px;
}

.option {
  text-align: left;
  padding: 12px 20px;
  color: var(--white);
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 16px;
}

.option:hover {
  background: var(--form-color);
  color: var(--dashboard-text);
}

.activeOption {
  color: var(--dashboard-text);
  font-weight: bold;
}

.delete {
  border-radius: 18px;
  padding: 4px 12px;
  width: 69px;
  height: 29px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );
  font-size: 14px;
  text-align: center;
  color: #fff;

  transition: box-shadow 0.3s ease;
}

.delete:hover,
.delete:focus {
  box-shadow: 0 4px 12px rgba(255, 182, 39, 0.3);
}

.closeSvg {
  position: absolute;
  top: 20px;
  right: 20px;
  stroke: #fff;

  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closeButton:hover .closeSvg,
.closeButton:focus .closeSvg {
  stroke: var(--yellow);
}

.closeButton {
  display: none;
}

.relative {
  position: relative;
}

.mt-0 {
  margin-top: 0 !important;
}

.transparent {
  background: transparent !important;
}

@media (min-width: 768px) {
  .errorText {
    width: 70%;
  }

  .closeButton {
    display: block;
  }
}
