body {
  font-family: Poppins, sans-serif;
  font-style: normal;
  line-height: normal;
  color: #fbfbfb;
  background-color: #101010;
  margin: 0;
  place-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 400;
  color: #fbfbfb;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

/* .modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
} */

.container {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: 0;
}
