@import url("./general.css");
@import url("../src/components/Calendar/datepicker.css");
@import url("../src/components/TransactionForm/modal.css");

body {
  font-family: Poppins, sans-serif;
  font-style: normal;
  line-height: normal;
  color: var(--white);
  background-color: #101010;
  margin: 0;
  place-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 400;
  color: var(--white);
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

input {
  border: 0;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
