.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 32px auto 20px;
  max-height: min-content;
}

.react-select__control {
  cursor: pointer;
}

.select {
  color: black;
  flex: 1;
}

@media screen and (min-width: 768px) {
  .dashboard {
    flex-direction: row;
    justify-content: center;
    margin: -40px auto 20px;
  }
}

@media screen and (min-width: 1280px) {
  .dashboard {
    margin: 0 0 20px;
  }
}
