.toggleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.label {
  font-family: var(--font-family);
  font-weight: 600;
  text-align: right;
  color: var(--white-600);
  transition: color 0.3s ease;
}

.activeIncome {
  color: var(--yellow);
  font-weight: bold;
}

.activeExpense {
  color: var(--dashboard-text);
  font-weight: bold;
}

.toggle {
  display: flex;
  align-items: center;
  width: 80px;
  height: 40px;
  background-color: #fff;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.circle {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.left .circle {
  transform: translateX(-2px);
}

.right .circle {
  transform: translateX(38px);
}

.incomeColor {
  background-color: var(--yellow);
  box-shadow: 0 4px 12px var(--yellow);
}

.expenseColor {
  background-color: var(--dashboard-text);
  box-shadow: 0 4px 12px var(--dashboard-text);
}
